<body style="font-size: 12px;">
<table width="100%" name="layout_01" border="0" cellspacing="0" cellpadding="0"
       style="background-color: rgb(236, 236, 236); width: 100%;"><!-- START LAYOUT-1 ( MENU BAR ) -->
    <tbody>
    <tr preview-bg="">
        <td valign="top" align="center" edit-style="outside_box" class="container" style="background-color: #eceff1; "
            edit-bg="Outside" full-width="false" effect-all="false">
            <table width="600" edit-style="inside_box" align="center" border="0" cellspacing="0" cellpadding="0"
                   class="container"
                   style="background-color: rgb(236, 239, 241); min-width: 600px; margin: 0px auto; width: 600px;"
                   effect-all="false"><!-- start space -->
                <tbody>
                <tr>
                    <td valign="top" height="50"
                        style="font-size: 0px; line-height: 0; border-collapse: collapse;"></td>
                </tr>
                <!-- end space -->
                <tr>
                    <td valign="top" align="center">
                        <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width"
                               style="margin: 0px auto; width: 560px;">
                            <tbody>
                            <tr>
                                <td valign="top">
                                    <table width="100%" align="center" edit-bg="Inside" class="full-width" border="0"
                                           cellpadding="0" cellspacing="0"
                                           style="background-color:rgb(10,62,124);background-size:cover;background-position-x:50%;background-position-y:0%;background-repeat-x:no-repeat;background-repeat-y:no-repeat;background-image:url('{BannerImage}');"
                                           edit-style="bg_color_0" effect-all="false"><!-- start space -->
                                        <tbody>
                                        <tr>
                                            <td valign="top" height="100"
                                                style="font-size: 0px; line-height: 0; border-collapse: collapse;"
                                                class=""></td>
                                        </tr>
                                        <!-- end space --><!-- start box -->
                                        <tr edit-duplicate="" class="" dup="0">
                                            <td valign="top" style="padding-bottom:20px;">
                                                <table width="400" align="center" border="0" cellpadding="0"
                                                       cellspacing="0"
                                                       style="margin: 0px auto; border: 3px solid rgb(255, 255, 255); width: 400px;">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top" style="padding-left:10px; padding-right:10px;">
                                                            <table width="100%" align="center" border="0"
                                                                   cellpadding="0" cellspacing="0"
                                                                   style="margin:0 auto;"><!-- start space -->
                                                                <tbody>
                                                                <tr>
                                                                    <td valign="top" height="30"
                                                                        style="font-size: 0px; line-height: 0; border-collapse: collapse;"></td>
                                                                </tr>
                                                                <!-- end space -->
                                                                <tr>
                                                                    <td align="center"
                                                                        style="font-size: 30px; color: rgb(255, 255, 255); font-weight: bold; text-align: center; font-family: &quot;Open Sans&quot;, Arial, Helvetica, sans-serif; word-break: break-word; line-height: 38px; cursor: text;"
                                                                        panel-color="bg_color_0" editor="content"
                                                                        class="">
                                                                        <span style="font-weight: bold; text-decoration: none; color: rgb(255, 255, 255); font-size: inherit; line-height: 38px;">
                                                                        {BannerTitle}
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                                <!-- start space -->
                                                                <tr>
                                                                    <td valign="top" height="30" style="font-size: 0px; line-height: 0; border-collapse: collapse;"></td>
                                                                </tr>
                                                                <!-- end space --></tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <!-- end box --><!-- start space -->
                                        <tr>
                                            <td valign="top" height="80" style="font-size: 0px; line-height: 0; border-collapse: collapse;"></td>
                                        </tr>
                                        <!-- end space --></tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!-- END LAYOUT-1 ( MENU BAR ) --></tbody>
</table>
<table width="100%" name="layout_02" border="0" cellspacing="0" cellpadding="0"
       style="background-color: rgb(236, 236, 236); width: 100%;"><!-- START LAYOUT-2 ( BIG IMAGE ) -->
    <tbody>
    <tr preview-bg="">
        <td valign="top" align="center" edit-style="outside_box" class="container" style="background-color: #eceff1; "
            edit-bg="Outside" full-width="false" effect-all="false">
            <table width="600" edit-style="inside_box" align="center" border="0" cellspacing="0" cellpadding="0"
                   class="container"
                   style="background-color: rgb(236, 239, 241); min-width: 600px; margin: 0px auto; width: 600px;"
                   edit-bg="Inside" effect-all="false">
                <tbody>
                <tr>
                    <td valign="top" align="center">
                        <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width"
                               style="margin: 0px auto; background-color: rgb(255, 255, 255); width: 560px;"
                               edit-style="bg_color_1" effect-all="false"><!-- start space -->
                            <tbody>
                            <tr>
                                <td valign="top" height="80"
                                    style="font-size: 0px; line-height: 0; border-collapse: collapse;"></td>
                            </tr>
                            <!-- end space --><!-- start heading -->
                            <tr edit-duplicate="" class="" dup="0">
                                <td valign="top" style="padding-left:30px; padding-right:30px;">
                                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" height="25" width="100"
                                                style="font-size: 24px; color: rgb(10, 62, 124); font-weight: bold; text-align: center; font-family: &quot;Open Sans&quot;, Arial, Helvetica, sans-serif; width: 100px; word-break: break-word; line-height: 32px;"
                                                panel-color="bg_color_1" editor="content" class="">
                                                <span style="font-weight: bold; text-decoration: none; color: rgb(10, 62, 124); font-size: inherit; line-height: 32px;">
                                                    {postTitle}
                                                </span>
                                            </td>
                                        </tr>
                                        <!-- start space -->
                                        <tr>
                                            <td valign="top" height="30"
                                                style="font-size: 0px; line-height: 0; border-collapse: collapse;"></td>
                                        </tr>
                                        <!-- end space -->
                                        <tr>
                                            <td align="center"
                                                style="font-size: 14px; color: rgb(136, 136, 136); font-weight: normal; text-align: center; font-family: &quot;Open Sans&quot;, Arial, Helvetica, sans-serif; word-break: break-word; line-height: 22px;"
                                                panel-color="bg_color_1" editor="content" class="">
                                                <span style="text-decoration: none; color: rgb(136, 136, 136); font-size: inherit; line-height: 22px;">
                                                    {postContent}
                                                </span>
                                            </td>
                                        </tr>
                                        <!-- start space -->
                                        <tr>
                                            <td valign="top" height="20" style="font-size: 0px; line-height: 0; border-collapse: collapse;"></td>
                                        </tr>
                                        <!-- end space --></tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- end heading --><!-- start space -->
                            <tr>
                                <td valign="top" height="60" style="font-size: 0px; line-height: 0; border-collapse: collapse;"></td>
                            </tr>
                            <!-- end space --></tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!-- END LAYOUT-2 ( BIG IMAGE ) --></tbody>
</table>
<table width="100%" name="layout_03" border="0" cellspacing="0" cellpadding="0"
       style="background-color: rgb(236, 236, 236); width: 100%;"><!-- START LAYOUT-3 ( BUTTON ) -->
    <tbody>
    <tr preview-bg="">
        <td valign="top" align="center" edit-style="outside_box" class="container" style="background-color: #eceff1; "
            edit-bg="Outside" full-width="false" effect-all="false">
            <table width="600" edit-style="inside_box" align="center" border="0" cellspacing="0" cellpadding="0"
                   class="container"
                   style="background-color: rgb(236, 239, 241); min-width: 600px; margin: 0px auto; width: 600px;"
                   edit-bg="Inside" effect-all="false">
                <tbody>
                <tr>
                    <td valign="top" align="center">
                        <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width"
                               style="margin: 0px auto; width: 560px;"><!-- start button -->
                            <tbody>
                            <tr edit-duplicate="" class="" dup="0">
                                <td valign="top">
                                    <table width="100%" edit-style="button" align="center" border="0" cellspacing="0"
                                           cellpadding="0" style="background-color:#0a3e7c; " effect-all="false">
                                        <!-- start space -->
                                        <tbody>
                                        <tr>
                                            <td valign="top" height="20"
                                                style="font-size: 0px; line-height: 0; border-collapse: collapse;"></td>
                                        </tr>
                                        <!-- end space -->
                                        <tr>
                                            <td valign="top" height="25" width="100"
                                                style="font-size: 18px; color: rgb(255, 255, 255); font-weight: normal; text-align: center; font-family: &quot;Open Sans&quot;, Arial, Helvetica, sans-serif; width: 100px; word-break: break-word; line-height: 26px;"
                                                panel-color="button" editor="content" class="">
                                                <a href="{ButtonUrl}" style="font-weight: bold; text-decoration: none; color: rgb(255, 255, 255); font-size: inherit; line-height: 32px;">
                                                    {ButtonText}
                                                </a>
                                            </td>
                                        </tr>
                                        <!-- start space -->
                                        <tr>
                                            <td valign="top" height="20"
                                                style="font-size: 0px; line-height: 0; border-collapse: collapse;"></td>
                                        </tr>
                                        <!-- end space --></tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- end button --></tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!-- END LAYOUT-3 ( BUTTON ) --></tbody>
</table>
<table width="100%" name="layout_04" border="0" cellspacing="0" cellpadding="0"
       style="background-color: rgb(236, 236, 236); width: 100%;"><!-- START LAYOUT-4 ( CONTENT SOCIAL ) -->
    <tbody>
    <tr preview-bg="">
        <td valign="top" align="center" edit-style="outside_box" class="container" style="background-color: #eceff1; "
            edit-bg="Outside" full-width="false" effect-all="false">
            <table width="600" edit-style="inside_box" align="center" border="0" cellspacing="0" cellpadding="0"
                   class="container"
                   style="background-color: rgb(236, 239, 241); min-width: 600px; margin: 0px auto; width: 600px;"
                   edit-bg="Inside" effect-all="false">
                <tbody>
                <tr>
                    <td valign="top" align="center">
                        <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="container"
                               style="margin: 0px auto; width: 560px;"><!-- start space -->
                            <tbody>
                            <tr>
                                <td valign="top" height="40"
                                    style="font-size: 0px; line-height: 0; border-collapse: collapse;"></td>
                            </tr>
                            <!-- end space -->
                            <tr edit-duplicate="" class="" dup="0">
                                <td valign="top">
                                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td valign="middle">
                                                <table width="auto" align="center" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                                                </table>
                                            </td>
                                        </tr>
                                        <!-- start space -->
                                        <tr>
                                            <td valign="top" height="20"
                                                style="font-size: 0px; line-height: 0; border-collapse: collapse;"></td>
                                        </tr>
                                        <!-- end space --></tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- start space -->
                <tr>
                    <td valign="top" height="30"
                        style="font-size: 0px; line-height: 0; border-collapse: collapse;"></td>
                </tr>
                <!-- end space --></tbody>
            </table>
        </td>
    </tr>
    <!-- END LAYOUT-5 ( CONTENT SOCIAL ) --></tbody>
</table>
</body>