@mixin transform($num2, $num...) {
 -webkit-transform:$num2 +'('+ $num +')';
 -o-transform:$num2 +'('+ $num +')';
 -moz-transform:$num2 +'('+ $num +')';
 transform:$num2 +'('+ $num +')';
}

@mixin prefix($num, $num1...) {
 -webkit-#{$num}:$num1;
 -o-#{$num}:$num1;
 -moz-#{$num}:$num1;
 #{$num}:$num1;
}