.about-banner {
	background-image: url("http://202.166.198.46/rosenlundsakeri/wp-content/uploads/2016/11/about-banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 470px;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	position: relative;



/*:::::::::::MEDIA::::::::::::::*/

	@include media(xs){
		min-height: inherit;
		padding: 50px 0;
	}

	.about-banner-content {
		text-align: center;
		position: relative;
		z-index: 1;


		.about-center-text {
			margin: 0 auto;
			width: 55%;
			color: $white;
			font-family: $body-font;

			/*:::::::::::MEDIA::::::::::::::*/
			@include media(md) {
				width: 82%;
			}
			@include media(xs) {
				width: 100%;
			}

			h1 {
				font-size: 60px;
				line-height: 60px;
				margin: 0;
				font-weight: 600;

				@include media(sm) {
					font-size: 25pt;
					line-height: 30pt;
				}
				@include media(ms) {
					font-size: 21pt;
					line-height: 30pt;
				}
			}

			h2{
				font-size: 24px;
				font-weight: 600;
				margin: 20px 0 40px;
			}
			//h1
		}
		//.about-center-text
	}
	//.about-banner-content
}
//.home-banner
