
.home-banner{
    background-color:#D8D8D8;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    position:relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
   -ms-flex-align: center;
   -webkit-align-items: center;
   -webkit-box-align: center;
    -webkit-justify-content: center;
    justify-content: center;
    @include prefix(flex-align, center);
    position: relative;
    @extend %overlay;
    @include media( sm ){
      min-height: 400px !important;
    }

    .line{
       height: 25%;
       bottom: 0;
       background-color:$white;
       @extend %line;
    }

    .banner-content{
        position:relative;
        z-index:2;
        .center-text{
            color:$white;
            width:45%;

            // MEDIA QUERY
            @include media(md){
                width:82%;
            }

            @include media(xs){
                width:100%;
            }

            h1{
                color:$white;
                font-family:$body-font;
                font-size:60px;
                font-weight: 600;
                line-height:60px;
                margin:0;
                @include media(sm){
                    font-size: 30pt;
                    line-height:35pt;
                }
                @include media(ms){
                    font-size: 25pt;
                    line-height:30pt;
                }
            }

            p{
                font-weight:300;
                font-size:20px;
                margin:20px 0;
            }

            a{
                border:2px $white solid;
                color:$white;
                display:inline-block;
                font-size:16px;
                font-weight: 400;
                font-family:$primary-font;
                padding: 10px 20px;
                // margin-top:15px;

                @include transition(all 0.5s ease-in-out);
                &:hover{
                   background-color:$white;
                   color:$primary-color;
                }
            }
        }//.center-text
    }//.banner-content
}//.home-banner
