.site-header {
    background-color: $white;
    margin-bottom: 75px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    padding: 0 15px;

    .site-branding {
        float: left;
        // MEDIA-QUERIES
        @include media(md) {
            width: 20%;
        }
        @include media(sm) {
            width: auto;
        }

        @include media(xs) {
            width: 50%;
        }

        @include media(ls) {
            float: none;
            text-align: center;
            width: 100%;
        }

        h1 {
            margin: 17px 0 0;

            // MEDIA-QUERIES //
            @include media(sm) {
                margin: 18px 0;
            }

            @include media(mb) {
                margin: 12px 0;
            }

            img {
                vertical-align: inherit;
            }
        }
    }
    //.site-branding
    .nav-wrap {
        float: right;
        padding: 10px 0;
        @include clearfix;

        // MEDIA-QUERIES //

        @include media(sm) {
           padding: 11px 0;
        }

        @include media(ls) {
            float: none;
            padding: 8px 0;
        }

        .main-navigation {
            float: left;
            width: auto;
            @include media(sm) {
                display: none;
            }


            .nav-menu {
                //first level menu
                > li {
                    &:hover {
                        > a {
                            &:after {
                                @include scale(1,1);
                            }
                        }
                    }

                    > a {
                        padding: 0.8em 0;

                        &:after {
                            content: '';
                            background: #222;
                            position: absolute;
                            bottom: 0;
                            height: 1px;
                            left: 0;
                            width: 100%;
                            @include transition(transform 0.3s ease-in-out);
                            @include scale(0, 1);
                        }
                    }
                    > ul{
                        top: 100%;
                    }
                }
                //multi level menu style
                li {
                    padding: 0 0.75em;

                    a {
                        color: $black;
                        position: relative;
                    }

                    ul {
                        background-color: $primary-color;

                        li {
                          padding: 0;

                            a {
                                color: $white;
                                padding: 8px 15px;
                                line-height: 20px;
                                font-size: 15px;
                                &:hover{
                                  background-color: lighten( $primary-color, 10% );
                                }
                            }
                        }
                    }
                }
                //li
            }
            //.nav-menu
        }
        //.main-navigation
        .nav-info {
            float: right;
            margin-left: 10px;
            padding: 11px 0;
            @include clearfix;

            // media query
            @include media(sm){
              margin-top: 5px;
            }
            @include media(ls) {
                float: none;
                padding: 0;
            }

            .info-list {
                float: left;
                padding-top: 7px;
                // media query //
                @include media(sm) {
                    padding-top: 3px;
                }

                a {
                    color: $black;
                    float: left;
                    padding: 0 0.75em;
                    text-decoration: none;
                    line-height:20px;

                    &.login-form {
                        border-left: 1px $black solid;
                        padding-right: 0;
                    }

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
            //.info-list
            .icon-search {
                margin-top: 2px;
                // media query //
                @include media(ms) {
                    margin-top: 4px;
                }

                .icon {
                  display: inline-block;
                  width: 22px;
                  height: 16px;
                  stroke-width: 0;
                  stroke: $black;
                  fill: $black;
                }
            }

            .mobile-menu {
                display: none;
                float: right;
                height: 30px;
                position: relative;
                padding: 5px 7px;
                width: 40px;
                // media query //
                @include media(sm) {
                    display: inline-block;
                    margin-left: 10px;
                }

                span.bar {
                    top: 8px;
                }

                span.bar,
                span.bar:after,
                span.bar:before {
                    background: $primary-color;
                    content: '';
                    display: inline-block;
                    position: absolute;
                    height: 2px;
                    transition: all 0.3s ease;
                    width: 25px;
                }

                span.bar:before {
                    top: 6px;
                }

                span.bar:after {
                    top: 12px;
                }
            }
            //.mobile-menu
            .search-box {
                background: #f7f7f7;
                display: none;
                right: 0;
                padding: 10px 20px;
                top: 100%;
                position: absolute;
                width: 100%;
                z-index: 9;
                // media query //
                @include media(sm) {
                    top: 75px;
                }
                @include media(mb) {
                    top: 109px;
                }

                .search-form {
                    @include clearfix;

                    button,
                    input {
                        background: transparent;
                        border-color: transparent;
                        @include border-radius(0);
                        @include box-shadow(none);
                        color: #999;
                        height: 45px;

                        &:focus {
                            @include box-shadow(none);
                            outline: none;
                        }
                    }

                    input {
                        float: left;
                        // padding: 6px 12px;
                        width: calc(100% - 50px);
                    }

                    button {
                        float: right;
                        width: 50px;
                    }
                }
            }
            //.search-box
        }
        //.nav-info
    }
    //.nav-wrap
}
//.site-header

.mm-menu {
    background: $primary-color !important;
    color: $white !important;

    .mm-listview > li > a,
    a.mm-title {
        color: $white !important;
        font-size: 16px !important;
    }

    .mm-menu .mm-listview > li .mm-next:after,
    .mm-next:after,
    .mm-prev:before {
        border-color: $white !important;
    }

    .mm-menu .mm-listview>li.mm-selected{
        bavkground:rgba(31, 24, 84, 0.5);
    }
}
