.about-team{
	text-align:center;
	padding:18px 0;
	@include clearfix();

	.about-team-block{

		/*:::::::::::MEDIA::::::::::::::*/

		@include media(xs){
			width: 50%;
			float: left;
			padding:0px 15px 45px;
		}//media xs

		@include media(mb){
			width: 100%;
			float: none;
		}//media mb

		.about-team-holder{
			margin-bottom: 50px;
			position:relative;
			overflow: hidden;
    	@include transition(all .3s ease-in-out);
			@include media( xs ){
				margin-bottom: 0;
			}
			&:hover{

				.team-member-image{
					&:after{
						opacity:1;
					}
					img{
						@include scale(1.1);
						@include transition(all .3s ease-in-out);


					}//img
				}//.team-member-image
			}//&:hover

			.team-member-image{
				margin-bottom: 25px;
				overflow: hidden;

				img{
					width: 100%;
					transition: all .5s ease-in-out;
					position:relative;
					overflow: hidden;
				}//img
			}//team-member-image

			.member-info-holder{
				
				.team-member-name{
					font:18px/22px $primary-font;
					font-style: italic;
					color:#171717;
					margin-bottom: 10px;
				}//team-member-name

				.team-member-designation{
					font:13px/16px $body-font;
					text-transform: uppercase;
					margin-bottom: 13px;
					padding-bottom: 13px;
					letter-spacing: 1px;
			        @include transition(all ease-in-out 0.5s);
					position: relative;

					&:hover{
			            color: $primary-color;
			            letter-spacing: 2px;
			             @include transition(all ease-in-out 0.5s);

			             &:after{
			                @include scale(0.3, 1);
			            }//&:after
			        }//&:hover

					&:after{
						border-bottom: 1px solid #171717;
						bottom: 2px;
						content: "";
						left: 0;
						right: 0;
						margin: 0 auto;
						position: absolute;
						transform: scale(1, 1);
						transition: transform 0.5s ease-in-out 0s;
						width: 80px;
					}//&:after
				}//team-member-designation

				.team-member-phone,
				.team-member-email{

					a{
						font:13px/16px $primary-font;
						font-style: italic;
						margin-bottom: 8px;
						color:#171717;
					}//a
				}//team-member-phone
			}//.member-info-holde
		}//about-team-holder
	}//.about-team-bloc
}//about-team
