.about-history{
	text-align:center;
	background:#f8f8f8;
	padding:100px 20px;
	font-family:$body-font;
	font-style:italic;

/*:::::::::::MEDIA::::::::::::::*/

	@include media(xs){
		padding:20px 0;
	}//media xs

	.title{
		font:44px/48px $primary-font;
		color: $primary-color;
		margin-bottom: 20px;

/*:::::::::::MEDIA::::::::::::::*/
		@include media(xs){
			font-size: 35px;
		}//media xs
	}//title

	.sub-title{
		font:24px/28px $primary-font;
		color: #171717;
	}//.sub-title

	.content{
		text-align: left;
		padding:68px 0;

		&:before,
		&:after{
			content: '';
			clear: both;
			display: block;
		}//&:berore

		.history-content{
			
			/*:::::::::::MEDIA::::::::::::::*/

			@include media(xs){
				margin-bottom: 40px;
			}//media xs
		}//history-content

		@include media(xs){
			padding:20px 0 0;
		}//media xs

	}//content

}//.about-history