.about-us-blue{
	background:$primary-color;
	padding:56px 0 153px;
	text-align:center;
	font:18px/29px;
	font-style:italic;
	color: $white;

	/*::::::MEDIA::::::::*/ 
	@include media(xs){
		padding:28px 0 50px;
	}

	.title{
		font:44px/48px $primary-font;
		margin-bottom: 55px;

		/*::::::MEDIA::::::::*/ 
		@include media(xs){
			margin-bottom:20px;
			font-size: 27px;
			line-height: 30px;
		}//media xs
	}//.title

	.content{
		padding:0 14%;

		/*::::::MEDIA::::::::*/ 
		@include media(xs){
			padding:0;
		}//media xs
	}//.content

}//.about-us-blue