.descp-text-wrap{
	text-align:center;
	font-size:18px;
	line-height:29px;
	font-style:italic;
	color:#171717;
	padding:77px 0 70px;

 /*:::::::::::MEDIA::::::::::::::*/
	@include media(xs){
		padding:20px 0;
	}//media xs
	
	.title{
		font:44px/48px $primary-font;
		color: $primary-color;
		margin-bottom: 50px;

		@include media(xs){
			margin-bottom:20px;
			font-size: 27px;
			line-height: 30px;
		}//media xs

	}//.title
	
	.content{
		padding:0 15%;

		 /*:::::::::::MEDIA::::::::::::::*/
		@include media(xs){
			padding:0;
		}//media xs

		p{
			margin-bottom: 31px;
		}//p
	}//.content
}//.about-quality