.footer-banner{
    background-position:center center;
    background-repeat:none;
    background-size:cover;
    padding:15% 0;
    position:relative;

    .footer-banner-title{
        background-color:#F5F5F5;
        left: 50%;
        padding:35px 45px;
        position:absolute;
        top: -50px;
        width:38%;
        @include transform(translate(-50% , 0));

        /*:::::::::::MEDIA::::::::::::::*/
        @include  media(sm){
            width:50%;
        }

        @include  media(xs){
            padding: 20px 27px;
            top: -34px;
            width:55%;
        }

        @include  media(mb){
            padding: 20px 15px;
            top: -36px;
            width:70%;
        }

        h3{
            color:$primary-color;
            font:italic 20px/24px $primary-font; 
            margin:0;
            text-align:center;
            
            /*:::::::::::MEDIA::::::::::::::*/
            @include  media(mb){
                font: italic 16px/24px;
            }

        }

    }//.footer-banner-title
}//.footer-banner