
.text-desc-content{
    // padding: 60px 0 125px;

    /*:::::::::::MEDIA::::::::::::::*/

    @include media(xs){
        padding: 30px 0 56px;
    }// media(xs)

    .desc-wrap{
        .desc-detail{
            margin-bottom:20px;

            /*:::::::::::MEDIA::::::::::::::*/
            @include media(xs){
                margin-bottom:20px;
            }
        }//.desc-detail

        .more-info{
            h5{
                font-size:17px;
                margin-bottom:5px;
            }//h5  

            a{
                color:$black;
                display: block;
                font-size:16px;
                line-height:20px;
                position: relative;
                @include transition(all ease-in-out 0.5s);

                &.read-more{
                    font-size:14px;
                    // padding-bottom:10px;
                    &:hover{
                        color: $primary-color;
                        letter-spacing: 2px;
                         @include transition(all ease-in-out 0.5s);

                         &:after{
                            @include scale(0.3, 1);
                        }//&:after
                    }//&:hover

                    /*:::::::::::MEDIA::::::::::::::*/

                    @include media(xs){
                        margin-bottom: 15px;
                        display: inline-block;
                    }// media(xs)

                    &:after{
                        content: '';
                        position:absolute;
                        top: 20px;
                        width: 40px;
                        left: 0;
                        border-bottom: 1px solid #171717;
                        @include transition( transform 0.5s ease-in-out );
                        @include scale(1, 1);
                    }//&:after  
                }//.read-more
            }//a   
        }//.more-info

        // p{
        //     font:italic 12px/26px $body-font;
        // }
    }//.job-desc-wrap
}//.job-descrp-content