
.job-list-sec{
    h2{
        color:$primary-color;
        font:italic 20px/24px $primary-font; 
        margin:0;
        text-align:center;
    }

   .job-listing{
        padding:85px 0 110px 0;

        /*:::::::::::MEDIA::::::::::::::*/

        @include media(xs){
            padding: 50px 0 35px 0;
        }// media(xs)

        .job-descrp-list{
            margin-bottom: 30px;
            position: relative;
            overflow: hidden;

            &:hover{
                .job-descrp-thumbnail{
                    &:after{
                       opacity:1;
                    }

                    img{
                        @include scale(1.1);
                        @include transition(all .3s ease-in-out);

                        
                    }//img
                }//.job-descrp-thumbnail
            }//&:hover   

            .job-descrp-thumbnail{
                position:relative;
                overflow:hidden;

                img{
                    position:relative;
                    @include transition(all .5s ease-in-out);
                    width:100%;
                }         
            }//.job-descrp-thumbnail


            .job-descrp-detail{
                h3{
                    font-size:14pt;
                    font-weight:normal;
                    margin:10px 0 5px 0;
                }

                .job-descrp{
                    p{
                        font-size:16px;
                        line-height:18px;
                        margin-bottom:0;
                    }
                }//.job-descrp

                .load-more-link{
                    a{
                        color: #171717;
                        font: 13px/18px $primary-font;
                        position: relative;
                        padding-bottom:7px;
                        letter-spacing: 1px;
                        @include transition(all ease-in-out 0.5s);
                        
                        &:hover{
                            color: $primary-color;
                            letter-spacing: 2px;
                             @include transition(all ease-in-out 0.5s);

                             &:after{
                                @include scale(0.3, 1);
                            }//&:after
                        }//&:hover

                        /*:::::::::::MEDIA::::::::::::::*/

                        @include media(xs){
                            margin-bottom: 15px;
                            display: inline-block;
                        }// media(xs)

                        &:after{
                            content: '';
                            position:absolute;
                            bottom: 5px;
                            width: 100%;
                            left: 0;
                            border-bottom: 1px solid #171717;
                            @include transition( transform 0.5s ease-in-out );
                            @include scale(1, 1);
                        }//&:after
                    }
                }//.load-more-link

            }//.job-descrp-detail

        }//.job-descrp-list 

    }//.job-listing 

}//.job-listing-sec