.pdf-links a,
.pdf-links a:visited{
	color:$primary-color;
}

.pdf-links-image{
	margin-top:20px;
	a{
		margin-right:20px;
		@include media(ms){
			display:inline-block;
			margin-bottom:20px;
		}
	}
}