.comments-area{
    border: 2px $ternary-color solid;
    margin-top: 50px;
    padding: 15px;

    h2,
    h3{
        border-bottom: 2px $ternary-color solid;
        color: $secondary-color;
        font-size: 16px;
        padding-bottom:10px;
        margin: 0 0 25px 0;
        position: relative;
        text-transform: uppercase;
    } /* h2 */

    .comment-list{
        .comment{
            .comment-body{
                position: relative;
                min-height: 56px;
                padding-left: 76px;
                padding-bottom: 22px;
                border-bottom: 1px solid $ternary-color;
                margin-bottom: 22px;

                    .comment-meta{
                        line-height:1;

                        .comment-author{
                            margin-bottom:5px;
                            font-size: 17px;

                            .avatar{
                                float: left;
                                left: 0;
                                width: 56px;
                                height: 56px;
                                position: absolute;
                                top: 0;
                            }

                            .fn{
                                color:$secondary-color;
                            }
                        }/* .comment-author */  
                    } /* comment-meta */

                    .comment-metadata{
                        a{
                            color: lighten($body-color, 10%);
                            font-size: 14px; 
                        }
                    }/* .comment-metadata */

                    .comment-content{
                        color: $secondary-color;
                        padding-top: 10px;

                        p{
                            line-height:18px;
                            margin: 0 0 10px 0;
                        }
                    }/* .comment-content */

                    .reply{
                        a{
                            color: $primary-color; 
                            &:hover{
                                text-decoration:underline !important;
                            } 
                        }
                    }
            } /* comment-body */

        }/* comment */

    }/* comment-list */
    
    .comment-respond{
        h3{
            border-bottom:none;
            margin:0;
        }

        .comment-form{
            margin-top:10px;
            p{
                margin:0 0 10px 0;
            }

            .logged-in-as{
                a{
                    color:$secondary-color;
                    &:hover{
                        color:$primary-color;
                    }
                }
            }/* .logged-in-as */

            .comment-form-comment{
                textarea{
                    @include border-radius(0);
                    border-color: $ternary-color;
                }
            } /* .comment-form-comment */

            .form-submit{
                input[type="submit"]{
                    background:$primary-color;
                    @include border-radius(0);
                    color:$light;
                    font-size:14px;
                    line-height: initial;
                    text-transform:uppercase;
                    @include box-shadow(none);
                    @include transition(all 0.3s ease-in-out);
                    @include text-shadow(none);

                    &:hover{
                        background-color:darken($primary-color, 5%);
                    }
                }
            } /* .form-submit */

        }/* .comment-form */

    } /* .comment-respond */

}/* comment-area */

