.search-result{
	font-family:$primary-font;

	.page-header{
		text-align: center;
		margin: 40px 0 20px;
		padding-bottom:30px;

		h1.page-title{
			color: $primary-color;
			display: inline-block;
			font-size: 35px;
			letter-spacing: 2.5px;
			line-height: 39px;
			margin: 0 auto;
			padding: 0 30px;
			text-transform: uppercase;

			@include media(xs){
				font-size: 25px;
			}

			@include media(mb){
				font-size: 22px;
			}//media

		}//.page-title
	}//.page-header
	
	article{
		padding:20px 0;
		border-bottom: 1px solid #ccc;
		margin: 0 !important;

		&:before,
		&:after{
			content: '';
			clear: both;
			display: block;
		}//&:before &:after

		.search-image{
			float: left;
			width: 30%;

			// :::::::::::::::::::::MEDIA:::::::::::::::::::::::
			@include media(mb){
				float: none;
				width: 100%;
				margin-bottom: 35px;
			}//media
		}//search-image
		.search-content{
			float: right;
			width: 68%;

			//:::::::::::::::::::::MEDIA:::::::::::::::::::::::
			@include media(mb){
				float: none;
				width: 100%;
			}//media

			.entry-header{
				display: inline-block;
			h2.entry-title{
				color: $primary-color;
				font-size: 24px;
				letter-spacing: 2px;
				position: relative;
				margin-bottom: 15px;
				font-weight: bold;
				margin-top: 0;
				letter-spacing: 1px;
			    @include transition(all ease-in-out 0.5s);
				position: relative;

				&:hover{
		            color: $primary-color;
		            letter-spacing: 2px;
		             @include transition(all ease-in-out 0.5s);

		             &:after{
		                @include scale(0.3, 1);
		            }//&:after
		        }//&:hover

				&:after{
					background: $primary-color;
					content: "";
					display: block;
					height: 1px;
					position: absolute;
					left: 0;
					bottom: -10px;
					transform: scale(1, 1);
					transition: transform 0.5s ease-in-out 0s;
					width: 100%;
				}//&:after
			}//h2.entry-title
			}//entry-header
		}//	search-content
	}//article
}//search-result
