.down-arrow{
    @include animation(up-down 1s ease-in-out infinite);
    position: absolute;
    bottom: 40px; 
    left: calc(50% - 20px);
    z-index: 9;

    @at-root{
        @include keyframes(up-down){
            0%   {transform: translateY(0px);}
            50% {transform: translateY(15px);}
            100%   {transform: translateY(0px);}
        }
    }

    &:hover
        {
        animation-play-state: paused;
    }
}
