.loader-overlay{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba($primary-color, 1);
	z-index:99;

	.loader-wrapper{
	    position: absolute;
	    top:50%;
	    left:0;
			width: 100%;
			text-align: center;
	    z-index: 23;
			.loader{
				display: inline-block;
				svg{
		    	float:left;
					@include media( ms ){
						&.loader-text{
							width: 220px;
						}
					}
		    }

			}

	}
}
