$submit_bg : #0a3e7c;
input.btn-submit[type="submit"]{
    background:$submit_bg;
    border: 1px $submit_bg solid;
    color:$white;
    font-style:normal;
    font-weight:400;
    line-height:22px;
    width:30%;
    @include transition(all 0.3s ease-in-out);
    @include text-shadow(none);
    &:hover{
        background:darken( $submit_bg, 10% );
    }
}

.rl-btn-blue{
  background-color:$primary-color;
  color: $white;
  font-family:$primary-font;
  padding:13px 30px;
  @include transition(all 0.3s ease-in-out);
  &:hover{
    background-color:$black;
    color: $white;
  }
  &:active, &:visited, &:focus{
    color: inherit;
  }
}
