.pagination{
        margin-top: 60px !important;
        float: none;
        width: 100%;
        text-align: center;
    }


.page-numbers{
    @include transition(all 0.35s ease-in-out);
    padding: 5px 10px;
    font-weight: 700;
    color: $primary-color;
    border: 1px solid #ccc;
    text-decoration: none;

   &.current,
    &:hover{
        color: $white;
        background: $primary-color;
        border-color: $primary-color;
    }
}
