%top-bottom-center{
    position:absolute;
    top:50%;
    width:100%;
    @include translate(0, -50%);
}

%reset-ul{
    display:inline;
    list-style:none;
}


%overlay{
    &{
        position:relative;
    }
    &:after{
        content:"";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background:rgba($black, 0.3);
        z-index: 1;
    }
}

%line{
    position: absolute;
    width: 1px;
    left: 50%;
    z-index: 9;
    @include scale(1, 0);
    @include prefix(transform-origin, top);
    @include transition(all 1s linear);

    &.active{
        @include scale(1,1);
    }
}

.site-content{
    padding-top:73.59px;

    // MEDIA-QUERIES //
    @include media(mb){
        padding-top:109px;
    }
}
