$black:#000 !default;
$primary-color:#0a3e7c; 
$title:#745c46;
$white:#fff;
$black:#000;
$body-color:#505050;
$grey-bg :#f8f8f8;

//FONTS
$body-font:'futura-pt', sans-serif;
$primary-font:'Proxima Nova', sans-serif;
// $secondary-font: 'Proxima Nova', serif;
//bootstrape variable


$container-lg:1170px !default;
$container-md:970px !default;
$container-sm:750px !default;
