.contact-page {
  padding:80px 0;
    .kontakt-detail {
        .kontakt-info {
            address {
                line-height: 20px;

                p {
                    margin-bottom: 5px;

                    a {
                        color: $body-color;
                    }
                }
            }
        }
        //.kontakt-info

        .kontakt-form {
            address {
                line-height: 20px;

                p {
                    margin-bottom: 5px;
                }
            }

            .wpcf7-form {
                margin-top: 35px;
                .wpcf7-not-valid-tip{
                  font-size:0.85em;
                }

                input,
                textarea {
                    @include border-radius(0);
                    border-color: #ddd;
                    font-size: 16px;
                    @include placeholder($body-color);
                    padding: 5px 10px;
                    @include box-shadow(none);
                }

                input.form-control {
                    height: 40px;
                }

                input[type="submit"] {
                    &.btn-submit {
                        padding: 10px 20px;
                    }
                }
            }
            //.form-group
        }
        //.wpcf7-form
    }
    //.kontakt-detail
} //.contact-page
