.site-footer {
	color: $white;
	padding: 0;

	.footer-top {
		background: $primary-color;
		padding: 2.5em 0;

		.contact-info{
			a{
				font-size: 16px;
			}
		}

		.footer-top-block {
			//margin-bottom: 15px;
			.title {
				font: 100 18px/20px "futura-pt", sans-serif;
				text-transform: uppercase;
				margin-bottom: 28px;
				font-weight: 500;
			}

			ul {
				font-size: 17px;
				line-height: 18px;
				margin: 0;

				li {
					margin-bottom: 5px;
					list-style: none;
					text-transform: capitalize;
					@include media(xs) {
						margin-bottom: 10px;
					}

					a {
						color: $white;
						@include transition(all ease-in-out 0.5s);

						&:hover {
							color: darken($white, 50%) !important;
						}
						//&:hover
					}
					//a
				}
				//li
			}
			//ul

			p {
				margin: 0;
			}
			//p

			a {
				color: $white !important;
			}
			//a
		}
		//footer-top-block

		.contact-block {
			font-family: 'futura-pt', sans-serif;

			address {
				margin-bottom: 23px;

				.sub-title {
					font-size: 14px;
					line-height: 14px;
					text-transform: uppercase;
					margin-bottom: 4px;
				}
				//sub-title

				p {
					font-weight: 300;
					margin-bottom: 2px;
				}
			}
			//address

			.contact-info {
				p {
					margin-bottom: 5px;
				}
				//p
			}
			//contact-info
		}
		//contact-block
	}
	//.footer-top
	// MEDIA QUERY FOR FOOTER-TOP
	@include media(sm) {
		.footer-top {
			padding-bottom: 10px;

			.footer-top-block {
				margin-bottom: 40px;

				.title {
					margin-bottom: 15px;
				}
				//.title
			}
			//footer-top-block
		}
		//footer-top
	}
	//@include media(sm)
	// :::::::::::::::::::::::::::::::::::
	// 	  	    FOOTER-BOTTOM
	//::::::::::::::::::::::::::::::::::::
	.footer-bottom {
		padding: 25px 0;
		color: $primary-color;
		font: 13px/15px $body-font;
		text-align: center;

		ul {
			margin-bottom: 0;

			li {
				margin: 5px 0;

				&:after {
					border-right: 1px solid $primary-color;
					content: '';
					margin: 0 0 0 14px;
				}
				//&:after

				&:last-child {
					&:after {
						border-right: 0;
					}
					//&:after
				}
				//	&:last-child
			}
			//li
		}
		//ul
	}
	//.footer-bottom
}
//.site-footer
// MEDIA QUERY FOR FOOTER-BOTTOM
@include media(sm) {
	.site-footer {
		.footer-bottom {
			ul {
				li {
					display: block;

					&:after {
						border-right: 0;
					}
					//&:after
				}
				//li
			}
			//ul
		}
		//footer-bottom
	}
	//.site-footer
}
//@include media(mb)
