.site-content{
	.news-lists{
		position:relative;

		.news-image{
			position:relative;
			img{
				width:100%;
			}	
		}

		.image-content{

			.restro-sub-title{
				p{
					margin:0;	
				}
			}
		}//.image-content

	}//.news-image
}//.site-content