.site-footer{
	background-color:$primary-color;
	color:$light;
	// position:relative;
	padding:40px 0;

	// MEDIA-QUERIES //
	@include media(ls){
	    padding: 100px 0 70px 0;
	}

	.footer-widget{
		.widget{
			h3{
				font: 500 18px/20px $primary-font;
				text-transform: uppercase;
				margin-bottom:25px;
			}

			address{
				margin-bottom: 20px;
				font-style: normal;
				line-height: 1.42857;

				.sub-title {
				    font-size: 14px;
				    line-height: 14px;
				    text-transform: uppercase;
				    margin-bottom: 4px;
				}//.sub-title

				p{
					font-size:17px;
					font-weight: 300;
					margin-bottom: 2px;	
				}

			}//address
			
			ul{
				font-size: 17px;
				line-height: 18px;
				margin: 0;

			// MEDIA-QUERIES //

				@include media(xs){
				   margin-bottom:30px;
				}
					li{
					
					list-style:none;
					margin-bottom:5px;
					text-transform: capitalize;

					@include media(xs){
						margin-bottom:10px; 
					}

				}//li
			}//ul	

			a{
				color: $light;
				@include transition(all ease-in-out 0.5s);

				&:hover{
					color: darken($light, 40%);
				}//&:hover
			}//a

			p{
				margin:0;
			}

		}//.widget

	}//.footer-widget  
}//.site-footer
