<div class="news" ng-repeat="item in newsItems" data-time="{{ item.slide_time }}">
    <span class="date-n-title">{{ item.date }}</span>
    <div class="news-title" ng-bind-html="item.title | trustedHtml "></div>
    <div class="detail" ng-bind-html="item.content | trustedHtml "></div>
</div><!-- /.news -->