
.banner-slider{
    width:77%;
    height:88vh;
    margin-left:23%;
    overflow: hidden;
    float:left;
    background-color:$white;
    @include transition(all 0.5s ease-in-out);
    
    .vc_column_container>.vc_column-inner{
        padding-left:0;
        padding-right:0;
    }
    .vc_row{  
        height:88vh;  
    }
    iframe{ 
        width:100%;
        height:88vh;  
    }
    .youtube-video{
        posiition:relative;
        paddding:50%;

        iframe{
            position: absolute;
            left:0;
            top:0;
            height: 85vh;      
        }
    }
}

// FULL WIDTH IMAGE
.full-width-image-slider{
    height: 88vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

// ROSEN RSS FEEDS
.rosen-rss-feeds{
    padding: 1.2vh 3vw 0!important;
    text-align: left;
    
    h1{
        font-size: 2vw;
        margin-bottom: 1.5vh;
    }
    
    .rss-wrapper{
        margin-bottom: 2.5vh;
        
        .title{
            h2{
                font-size:1.6vw;
            }
        }
        .description{
            font-size: 1.15vw;
            line-height: 1.6;
        }
        .published-date{
            font-size: 1vw;
            margin-top: 1vh;
            font-weight: bold;
        }
    }
    
}


//on full width
.fullwidth{
    width:100%;

    .banner-slider{
        margin-left:0;
        width:100%;
        .reveal{
            .slides{
                    width:100% !important;
                }
        }
    }
}
