.footer{
    height:12vh;
    overflow: hidden;
    color:#fff;
    background-color:$primary-color;  
    padding:0 1.5vw ;
    position:relative;

    //logo
    .logo{
        width: 25%;
        float:left;
        margin-top: 2.2vw;

        svg{
            width: 25vw;
            position: absolute;
            top: 50%;
            left: 1.5vw;
            @include translate(0, -50%);
        }
    }

    .wrapper{
        float:right;
        margin-right: 7vw;
        
        .unknown,
        .weather{
            float:left;
        }
        
        .weather{
            height:100%;
            position:relative;
            height:15vh;
            width: 10vw;
            float:right;
            .info{
                @extend %top-bottom-center;

                .normal{
                    border: none !important;
                }
            }

        }//weather
        
        .message{
            font-size: 1.6vw;
            font-weight: 600;
            float: left;
            width:50vw;
            position: relative;
            text-align: right;
            height: 12vh;

            .item{
                @extend %top-bottom-center;
                @include translate(0,0);
                opacity:0;
                @include transition(all 0.05s linear);
                
                .birthday{
                    position:relative;
                    
                    &:after{
                        content: "";
                        background-image: url(../img/ballons.png);
                        width: 2.3vw;
                        height: 3.5vw;
                        background-size: cover;
                        position: absolute;
                        top: 50%;
                        left: -3vw;
                        @include translate(0, -50%);
                    }
                }
                &.active{
                    opacity:1;
                    @include translate(0, -50%);
                     @include transition(all 0.3s linear);
                    p{
                        @include translate(0, 0);
                        opacity:1;
                    }
                }
            }
        }//message

    }//wrapper
}//footer