$footer_height : 12vh;
$slider_size   : 7.3vh;
$playback_size : 9vh;
/*
|   height: 7.3vh;
|   width: 7.3vh;
|   border-radius: 50%;
    right: 1.4vw;
    bottom: 2.4vh;
    font-size: 1.2vw;
    text-align: center;
    line-height: 2.6em;
    background-color: #043171;
|
|
*/

.reveal{
    .slides > section{
        padding:0;
    }
    .playback{
        right  : 1vw;
        bottom : ($footer_height - $playback_size)/2;
        height : $playback_size !important;
        width  : $playback_size !important;
        left   : initial;
    }
    .slide-number{
        height           : $slider_size;
        width            : $slider_size;
        border-radius    : 50%;
        right            : 1.48vw;
        bottom           : ($footer_height - $slider_size)/2;
        font-size        : 1.2vw;
        text-align       : center;
        line-height      : 6.5vh;
        background-color : $primary-color;
    }
}
  