.side-news{
    position:fixed;
    height:88vh;
    top:0;
    left:0;
    width:23%;
    float:left;
    overflow: hidden;
    @include transition(all 0.5s ease-in-out);

    .wrapper{
        height: 83vh;
        overflow: hidden;
        padding: 1.5vw;
        background-color: #fdfdfd ;
        border-right: 1px solid #e0e0e0 ;
        border-bottom: 1px solid #e0e0e0 ;

        #new-slider{
            position: relative;
            .news{
                position: absolute;
                top:0;
                left:0;
                bottom:0;
                right:0;
                opacity:0;
                @include transition(all 0.2s ease-in);

                .news-title{
                    opacity:0;
                    @include translate(0, 25px);
                    @include transition(all 0.7s ease-in-out 0.1s);
                }
                .detail{
                    opacity:0;
                    @include translate(0, 25px);
                    @include transition(all 0.7s ease-in-out 0.2s);
                }
                &.active{
                    opacity:1;

                    .news-title{
                        @include translate(0, 0);
                        opacity:1;
                    }
                    .detail{
                        @include translate(0, 0);
                        opacity:1;
                    }
                }
            }
        }
        .date-n-title{
            font-size: 1.1vmax;
            color: #043171;
            font-weight: 500;
        }
        .news{
            font-size: 1.4vmax;

            .news-title{
                font-size: 1.8vw;
                font-weight: bold;
                margin-top: 2vw;
                margin-bottom: 1vw;
                line-height: 1.3; 
            }
            .detail{
                font-weight: 500;
                line-height: 1.3em;

                p{
                    margin:0;
                }
            }
        }
    }//wrapper

    .indicator-wrapper{
        position:relative;
        height:8vh;
        #time{
            background:#eaeaea;
            position: absolute;
            top:0;
            left: 0;
            height: 100%;
            z-index: -1;
        }
        
        .indicator{
            font-size: 1.2vw;
            float: right;
            margin-top: 0.3vw;
            margin-right: 1vw;
        } //indicator
    }
} //side-news

.fullwidth{
    .side-news{
        left:-23%;
        @include transition(all 0.5s ease-in-out);

    }
}