.service-sec-wrap{

    /*:::::::::::MEDIA::::::::::::::*/

    @include media(xs){
        padding:20px 0 0 0;
    }// media(xs)

    .service-list-wrap{
        margin-bottom:30px;

        .serv-info-detail{
            h3{
                font-size:14pt;
                margin: 10px 0 5px 0;
            }
            .serv-detail{
                p{
                    font-size: 16px;
                    line-height: 18px;
                    margin-bottom: 0;
                }
            }//.serv-detail
        }//.serv-info-detail

        .load-more-link{
            line-height:20px;
            a{
                color: #171717;
                font: 13px/18px $primary-font;
                position: relative;
                padding-bottom:7px;
                letter-spacing: 1px;
                @include transition(all ease-in-out 0.5s);
                
                &:hover{
                    color: $primary-color;
                    letter-spacing: 2px;
                     @include transition(all ease-in-out 0.5s);

                     &:after{
                        @include scale(0.3, 1);
                    }//&:after
                }//&:hover

                /*:::::::::::MEDIA::::::::::::::*/

                @include media(xs){
                    margin-bottom: 15px;
                    display: inline-block;
                }// media(xs)

                &:after{
                    bottom:2px;
                    content: '';
                    position:absolute;
                    top: 20px;
                    width: 100%;
                    left: 0;
                    border-bottom: 1px solid #171717;
                    @include transition( transform 0.5s ease-in-out );
                    @include scale(1, 1);
                }//&:after
            }
        }//.load-more-link

    }//.service-list-wrap

}//.service-sec-wrap