.category-section{
    
    .category-list{
        background:$ternary-color;
        // min-height: 417px;   
        margin-bottom:12px;

        .cat-image{

        }//.cat-image

        .category-content{
            padding:30px;
            
            // MEDIA-QUERY //

            @include media(sm){
               padding:20px;
             }

             @include media(ls){
                padding:15px;
             }
            h2{
                margin:0;
                a{
                    color:$secondary-color;
                    font-size:16px;
                    font-weight:600;
                    line-height:18px;
                    font-family:$title-font;
                    text-transform:uppercase;
                    &:hover{
                        color:$primary-color;
                    }
                }
            } 

            p{
                margin:15px 0;
            }
        }//.category-content 

    }//.category-list

    .full-width-content{
        .category-list{
            min-height:auto;
        }
    }
}//.category-section