.staff-login-menu{
   display:inline-block;
   float: left;
   margin-left: 10px;
   position:relative; 

   // MEDIA-QUERIES //

      @include media(sm){
         float:right;
          margin: 0 15px;
      }
      
      .user-icon{
         color: $light;
         line-height: 24px;
         display: block;
         padding: 23px 0 23px 5px;
      }//a

      ul{

         &.login-menu{
            background:$body-bg;
            float:left;
            right:0;
            margin:0;
            min-width: 140px;
            padding: 5px 0;
            position:absolute;
            top:100%;
            text-align:left;
            visibility:hidden;
            opacity:0;
            @include translate(0, 10px);
            @include transition(all 0.3s ease-in-out);
            @include box-shadow(0 6px 0 $body-bg);
            z-index:999;

            li{
               list-style:none;
               &:hover{
                  background:lighten($primary-color, 5%);
               }

               a{
                  color:$primary-color;
                  clear:both;
                  display: block;
                  padding: 3px 20px;
                  line-height: 1.42857143;
                  white-space: nowrap;
                  &:hover{
                     color:$light;
                  }
               }
            }//li

         }//.login-menu

      }//ul

      &:hover{
         ul{
            visibility:visible;
            opacity:1;
            @include translate(0, 0);
         }
      }

}//.staff-loggedin-menu