.document-link{

    .table-responsive{
        table{
            thead{
                border-bottom:2px #222 solid;
                background:$primary-color;
                color:$light;
                tr{
                    th{
                        font-size:14px;
                        font-weight:600;
                        text-transform:uppercase;
                        &:first-child,
                        &:last-child{
                            width:20%;
                        }
                    }//th 
                }//tr
            } //thead  
            td{
                padding: 3px 10px;
                vertical-align:middle;

                a{
                    color:$primary-color;
                }
            }
        }//table
    }//.table-responsive

}//.document-link