.staff-form{
   background:$body-bg;
   margin:0 auto;
   width:50%;
   @include box-shadow(0 0 4px #d2cece);

   // MEDIA-QUERIES //

   @include media(xs){
       width:100%;
   }


   h3{
      color: lighten($primary-color, 5%);
      border-bottom:2px lighten($primary-color, 5%) solid;
      padding:20px;
      margin:0 20px;
      text-align:center;
      text-transform: uppercase;
   }
   form{
      padding:20px;
      .form-group{

         @include clearfix();

         label{
            font-weight:normal;

            // MEDIA-QUERIES //

            @include media(mb){
                width:100%;
            }

         }//label

         input{
            @include box-shadow(none);
            @include border-radius(0);
            padding:5px;
            height:35px;
            width:100%;
            &:focus{
               border-color:$primary-color;
               outline:none;
            }

            // MEDIA-QUERIES //

            @include media(mb){
                width:100%;
            }
         }

         input[type="submit"]{
            background:$primary-color;
            @include border-radius(none);
            @include box-shadow(none);
            @include text-shadow(none);
            color:$light;
            font-size:14px;
            line-height:1.2;
            text-transform:uppercase;
            padding:10px 15px;
            @include transition(background 0.3s ease-in-out);
            height:auto;
            width:auto;
            &:hover{
               background:darken($primary-color, 5%);
            }
         }
         
      }//.form-group

      .register-here{
         display:inline-block;
         margin-left:10px;
         text-align:center;

         // MEDIA-QUERIES //

            @include media(ms){
               display:block;
               margin-top:10px;
               margin-left:0;
            }

            span{
               color:$secondary-color;
               font-weight:500;
            }

            a{
               color:$primary-color;
               font-weight:500;
            }
      }//.register-here
   }//form
}//.registration-form