
.site-header{
    background:$primary-color;
    height:70px;
    position:fixed;
    width:100%;
    z-index:9;

        .site-branding{
            float: left;
            line-height:70px;

            // MEDIA-QUERIES //

            @include media(sm){
                width:auto;
            }

            @include media(mb){
                float:none;
                text-align:center;
            }

            h1{
                font-family:$primary-font;
                margin:27px 0;

                // MEDIA-QUERIES //
                @include media(sm){
                    margin:18px 0;
                }
            }
        }//.site-branding

        .nav-wrap{
            float: right;
            @include clearfix;

            // MEDIA-QUERIES //

            @include media(mb){
                float:none;
                padding:0;
            }

            .main-navigation{
                float:left;
                
                @include media(sm){
                    display:none;
                }
                li{
                    padding:0 10px;

                    &:last-child{
                        padding-right:0;
                    }

                    &.current-menu-item{
                        a{
                            &:after{
                                @include scale(1,1);
                            }
                        } 
                    }

                    a{
                        color: $light;
                        font:400 18px/24px $primary-font;
                        @include transition(all 1s ease-in-out);
                        padding:23px 0;
                        position:relative;
                        // text-transform:uppercase;

                        &:after{
                            content:'';
                            background:$light;
                            position:absolute;
                            bottom:20px;
                            height:1px;
                            left:0;
                            width:100%;
                            @include transition(transform 0.3s ease-in-out);
                            @include scale(0, 1);
                        }

                        &:hover{
                            &:after{
                                @include scale(1,1);
                            }
                        }		
                    }
                }
            }//.main-navigation

                .mobile-menu{
                    color:$light;
                    display:none;
                    float:right;
                    line-height: 70px;
                    font-size: 20px;

                    // media query //
                    @include media(sm){
                        display:inline-block;
                    }

                }//.mobile-menu
        }//.nav-wrap		
}//.site-header

.mm-menu{
    background:lighten($primary-color, 10%) !important;
    color:$ternary-color !important;

    a.mm-title,
    .mm-menu em.mm-counter{
        color:$ternary-color !important;
    }

    .mm-menu .mm-listview>li .mm-next:after,
        .mm-next:after, .mm-prev:before{
        border-color:#cac8c8 !important;
    }

    .mm-menu .mm-listview>li.mm-selected>a:not(.mm-next), 
    .mm-menu .mm-listview>li.mm-selected>span{
        background:rgba(58, 56, 130, 0.5) !important;
    }
}
