
.site-content{
    position:relative;
    padding-top:70px;
    .main-content{
        margin-bottom:90px;
        .new-class {
            height:auto !important;
        }

        .grid-item{

            // MEDIA-QUERY //

             @include media(xs){
                width: 50%;  
             }
            
             @include media(ls){
                width:100%;
                
             }

            .image-link{

                &:hover{
                    .image-content{
                        background: rgba(36, 46, 124, 0.7);
                    }
                }

                .image-thumbnail-wrap{
                    background-repeat:no-repeat;
                    background-position:center center;
                    background-size:cover;
                    margin-bottom:12px;
                    height:206px;
                    margin-bottom:12px;
                    position:relative;
                    width:100%;
                }//.image-thumbnail-wrap    

                    .image-content{
                        background:rgba(0, 0, 0, 0.6);
                        bottom:0;
                        color:$light;
                        font-size: 14px;
                        line-height: 16px;
                        left:0;
                        right:0;
                        position:absolute;
                        text-align: left;
                        padding:15px;
                        @include transition(all 0.3s ease-in-out);

                            // MEDIA-QUERY //
                             @include media(mb){
                                // top:0;
                             }
                        .news-title{
                            margin-bottom:5px;
                            span{
                                color:$light;
                                display:block;
                                line-height: 20px;
                                text-transform:uppercase;

                                &:hover{
                                    color:$ternary-color;
                                }
                            }

                            .news-date{
                                font-size:12px;
                            }
                        }//.news-title

                        .restro-sub-title{
                            margin:0;
                            &:first-letter{
                                text-transform: capitalize;
                            }
                            a{
                                &:hover{
                                    color:$light;
                                }
                            }
                        }//.restro-sub-title

                    }//.image-content 

            }//.image-link

        }//.grid-item
    }//.main-content

    .inner-wrap{
    	margin:70px 0 120px 0;

        // MEDIA-QUERIES //
             @include media(xs){
                margin:50px 0;
           }

        .post-nav{
            text-align:center;
            .nav-pagination{
                background-color:$primary-color;
                display:inline;
                padding:6px 15px;
                @include transition(all 0.3s ease-in-out);

                &:hover{
                    background-color:darken($primary-color, 5%);
                }

                a{
                    color:$light;
                    &:hover{
                        color:$light;
                    }
                    i{
                        font-size:12px;
                        // margin:0 5px;
                    }
                }
            }//.nav-pagination        
        }//.poast-nav

    }//.inner-wrap

    #load-more-posts{
        position:relative;

        #loading-text{
            background:$ternary-color;
            color:$primary-color;
            font-family:$title-font;
            font-size:18px;
            margin: 0 auto -27px;
            position:relative;
            padding:15px 20px;
            text-align:center;
            width:200px;

            // MEDIA-QUERIES //
          
            @include  media(sm){
                // width:50%;
            }

            @include  media(xs){
                // padding: 20px 27px;
                // top: -34px;
                // width:55%;
            }

            @include  media(ls){
                // font-size:16px;
                // padding: 16px 15px;
                // top: -30px;
                // width:70%;
            }
        } //#loading-text 

        .rosen-loader{
            margin-left:10px;

            i{
                font-size:20px;
            }
        }//.rosen-loader    
    }//.load-more-posts-news
}//.site-content 