
.modal-open{
	overflow: hidden !important;
}//.modal-open 

$close_icon_width : 30px;

.modal{
	.modal-dialog{
		.modal-content{
			background-color:transparent;
			border:none;
			@include border-radius(0);
			@include box-shadow(none);

			.modal-body{
				background:$primary-color;
				padding:0;

				button{
					background: rgba($light, 0.8);
					@include box-shadow(none);
					@include border-radius(50%);
					@include text-shadow(none);
					border:none;
					color:$primary-color;
					font-size: 25px;
					float:right;
					right:-($close_icon_width/2);
					line-height:16px;
					position:absolute;
					padding: 0;
					top:-($close_icon_width/2);
					height:$close_icon_width;
					width:$close_icon_width;
					@include transition(background 0.3s ease-in-out);
					z-index:2;

					&:hover{
						background:$light;
					}
				}

				video,
				iframe{
					width:100%;
				}
				.modal-caption{
					color:$light;
					padding:6px 15px;
					text-align:left;
					h3{
						display:inline-block;
						font-weight: 500;
						margin:0;
					}
					span{
						display:block;
						font-size: 14px;
					}
				}//.modal-caption
			}//.modal-body

		}//.modal-content
	}//.modal-dialog
}//.modal