
.site-content{

	.main-content{
		.news-grid-wrapper{
			
			@include media(xs){
			  // height:auto !important;
			}

			.news-list-item{
				background:$body-bg;
				margin-bottom:12px;
				padding:15px;

				.news-list-image{
					float:left;
					margin-right:20px;
					width:33.33%;
					
					// MEDIA-QUERY //
			         @include media(xs){
			            float:none;
			            text-align:center;
			            margin-bottom:20px;
			            width:100%;
			         }
			         img{
			         	width:100%;
			         }
				}//.news-image

				.news-list-content{
					display: block;
					overflow: hidden;

					// MEDIA-QUERY //
				         @include media(xs){
				            text-align:center;
				         }
				        .news-title{
				        	
				         	font-family:$primary-font;
				         	font-size:20px;
							a{
								color:$secondary-color;
								font-weight:600;
								text-transform:uppercase;
								&:hover{
									color:$primary-color;
								}
							}
							.news-date{
								color:#a0a0a0;
								display:block;
								font-size:14px;
								font-weight:600;
							}//.news-date
				         }//.news-title

						.restro-sub-title{
							font-size:18px;
							a{
								color:$body-color;

								&:hover{
									color:$body-color;
								}
							}
							p{
								margin:0;
							}
						}//.restro-sub-title	

				}//.image-content

			}//.news-list-item		
		}//.news-grid-wrapper

	}//.main-content

}//.site-content