.site-content{
	.grid-item.full-width-image{
			margin-bottom:12px;
			width:100%;

		.full-image-container{
			background-repeat:no-repeat;
			background-position:center center;
			background-size:cover;
			height:400px;
			position:relative;
			width:100%;

		}//.full-image-container
		
	}//.full-width-image
}//.site-content