.registration-form{
   
   form{
       .form-row{
         // MEDIA-QUERIES //

         @include media(mb){
             width:100%;
         }
       }//.form-row

       input[type="submit"]{
          @include media(mb){
                text-align:center;
             }
       }

       .register-here{
        display:block;

        // MEDIA-QUERIES //

           @include media(mb){
              text-align:left;
           }
       }
   }
}//.registration-form

