.single-content-wrap{

	.single-full-image{
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover;
		height:550px;
		margin-bottom:30px;
		position:relative;
		width:100%;
	}//.single-full-image

	.single-text-content{
		font-family:$primary-font;
		padding:0 40px;

		@include media(mb){
		  padding:0 10px;
		}

		h2{
			color:$secondary-color;
			font-family:$title-font;
			font-size:20px;
			font-weight:normal;
			text-transform:uppercase;
		}

		.post-date{
			font-size:20px;
			font-weight:normal;
		}//.post-date

		.contact-to{
			strong{
				display:block;
			}
		}//.contact-to	

		.text-content{
				
		}//.text-content

	}//.single-text-content
	
}//.single-content-wrap