.loader-overlay{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba($primary-color, 1);
	z-index:99; 

	.loader{
	    position: absolute;
	    top:50%;
	    left:50%;
	    z-index: 23;
	    @include translate(-50%, -50%);

	    svg{
	    	float:left;
	    }
	}	
}
