.n-title{
    text-transform: uppercase;
    font-size: 1.5vmax;
    text-align: center;
    color:$primary-color;
    font-weight: 700;
    border: 0.2vw solid $primary-color;
    padding: 0.2vw;
    margin-bottom: 1.6vw;
}