.cont-form{
    background:darken($grey-bg, 7%);
    background-image: url(../img/map.jpg);
    background-size: cover;
    background-postion:center center;
    height:450px;
    position:relative;

    // MEDIA QUERY

    @include media(xs){
       padding:50px 0;
    }

    .line{
        @extend %line;
        background-color:$primary-color;
        height:25%;
        bottom: -20px;
        @include transition(all 0.7s ease-in-out);
    }
    .contact-info{
        background:$white;
        margin-top:-95px;

        .form-info{
            .cont-detail{
                color:$primary-color;
                font-family:$body-font;
                font-style:italic;
                font-size: 20px;
                line-height: 28px;
                padding: 20px 95px 0 95px;
                text-align: center;
                position:relative;

                .lines
                {
                    &.active{
                        .top-line{
                            @include scale(1,1);
                            @include transition(all 1s ease-in-out);
                        }
                        .left-line, .right-line{
                            @include scale(1,1);
                            @include transition(all 0.5s ease-in-out 1s);
                        }
                    }

                    %c-line-p{
                        position:absolute;
                        top:0;
                        height:96px;
                        width:1px;
                        background-color:$primary-color;
                        @include prefix(transform-origin, top);
                        @include scale(1,0);
                        @include transition(all 0.5s ease-in-out);
                    }
                    .top-line{
                        position:absolute;
                        top:0;
                        left:0;
                        height:1px;
                        background-color:$primary-color;
                        width:100%;
                        @include scale(0,1);
                        @include prefix(transform-origin, center);
                        @include transition(all 1s ease-in-out 0.5s);
                    }
                    .left-line{
                       @extend %c-line-p;
                        left:0;
                    }
                    .right-line{
                        @extend %c-line-p;
                        right:0;
                    }
                }

                @include media(sm){
                    padding: 20px 30px 0;
                }

                @include media(ls){
                    padding: 10px;

                }
            }
        }

        .form-detail{
            padding:24px;



            form{
                border:1px $primary-color solid;
                p{
                    margin:0;
                }

                input,button,textarea{
                    @include border-radius(0);
                    border:1px transparent solid;
                    @include box-shadow(none);
                    @include placeholder($black);
                    font-style:italic;
                    font-size:16px;
                    padding:15px 20px;
                    &:focus{
                        outline:none;
                    }
                }
                .form-group{
                    border-top:1px $primary-color solid;
                    border-bottom:1px $primary-color solid;
                    border-left:none;
                    margin-bottom:0;
                    position:relative;
                    @include clearfix();

                    .wpcf7-form-control-wrap{
                        &.email{
                            float:left;
                            width:70%; 
                        }
                        input{
                            height:auto;
                            line-height:20px;
                        }

                    }//.wpcf7-form-control-wrap

                    .ajax-loader{
                        position: absolute;
                        right: 50%;
                        bottom: 0;
                    }

                }//.form-group
                .g-recaptcha{

                    iframe {
                        @include media(ms){
                            max-width: 100%;
                            transform:scale(0.74);
                            -webkit-transform:scale(0.74);
                            transform-origin: left;
                            -webkit-transform-origin: left;
                        }
                    }
                        .rc-anchor{
                            @include border-radius(0);
                            @include box-shadow(none);
                        }

                }//.g-recaptcha
            }//form

        }//.form-detail

    }//.contact-info
}//.cont-form
