#two-column{
	position: relative;
	padding:85px 0 150px 0;

	// MEDIA QUERY

    @include media(xs){
       padding:50px 0 150px;
    }

	 .line{
        @extend %line;
        background-color:$primary-color;
        top: -20%;
        height: 90%;

        @include media(xs){
            display: none;
        }
    }
}//#two-column

.description-block{
	padding:100px 0;

	// MEDIA QUERY

    @include media(xs){
       padding:50px 0;
    }

	&.two-column{
		// background-color:$grey-bg;
	}//.two-column

    .description-wrap{
        font-size:20px;
        font-weight:300;
    }//.description-wrap

}//.description-block

.two-column{
	padding: 85px 0 180px;

	  @include media(xs){
			padding:50px 0 145px; 
		}
}
