.icon-section{
    padding:110px 0;
    background: #f8f8f8;
    text-align:center;

    /*:::::::::::MEDIA::::::::::::::*/

    @include media(xs){
        padding:50px 0;
    }// media(xs)

    .icon-section-holder{
        /*:::::::::::MEDIA::::::::::::::*/

        @include media(xs){
            width: 50%;
        }// media(xs)

        @include media(ms){
            width: 100%;
        }// media(ms)
        .icon-holder{
            margin-bottom: 40px;

            @include media(xs){
                margin-bottom: 20px;
            } //media(xs)

        }//.icon-holder

        .title{
            font: 24px/28px $body-font;
            text-transform: uppercase;
            color: $primary-color;
            margin-bottom: 30px;

            /*:::::::::::MEDIA::::::::::::::*/

            @include media(sm){
                font-size: 20px;
                line-height: 24px;
            }// media(sm)

            @include media(xs){
                margin-bottom: 15px;
            }    // media(xs)   

        }//title

        a{
            font: 13px/15px $primary-font;
            font-size: calc(0.8rem + 0.25vw);
            line-height: 1rem;
            font-family: 'futura-pt', sans-serif;
            font-weight: 400;
            position: relative;
            color: #171717;
            padding-bottom:15px;
            letter-spacing: 1px;
            @include transition(all ease-in-out 0.5s);

            &:hover{
                color: $primary-color;
                letter-spacing: 1px;
                 @include transition(all ease-in-out 0.5s);

                 &:after{
                    @include scale(0.3, 1);
                }//&:after
            }//&:hover

            /*:::::::::::MEDIA::::::::::::::*/

            @include media(xs){
                margin-bottom: 15px;
                display: inline-block;
            }// media(xs)

            &:after{
                content: '';
                position:absolute;
                bottom: 2px;
                width: 100%;
                left: 0;
                border-bottom: 1px solid #171717;
                @include transition( transform 0.5s ease-in-out );
                @include scale(1, 1);
            }//&:after
        }//a
    }//icon-section-holder
}//.icon-section