.services-sec{
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	padding:150px 0;
	text-align:center;
	color:$white;
	position:relative;
	@extend %overlay;

	.service-text{
		position:relative;
		margin:0 auto;
		z-index:9;
		width:60%;

		// MEDIA QUERY
		@include media(md){
		    width:82%;
		}

		@include media(xs){
		    width:100%;
		}

		h2{
			font-family:$body-font;
			font-size:60px;
			font-weight: 600;
			line-height:60px;
			margin:0 0 50px 0;

			// MEDIA QUERY

			@include media(sm){
			    font-size: 30pt;
			    line-height:35pt;
			}
			@include media(ms){
			    font-size: 21pt;
			    line-height:30pt;
			}
		}
		
	}//.service-text

}//service-sec
