.roselundsakeri-slider{
	font:italic 18px/27px $secondary-font;
  	padding:50px 0;
  	text-align: center;
  	color: #171717;
  	position:relative;

	.slide{
		display: block;
		float: left;
		text-align: center;
		@include clearfix();

		/*:::::::::::MEDIA::::::::::::::*/
	  		 @include media(md){
	  		 	padding:0 50px;
	  		 }
	  		@include media(sm){
				padding:0;
			}//media xs
		
	  	.get-btn{
	  		font: 15px/18px $secondary-font;
	  		color: #171717;
	  		position: relative;
	  		padding: 15px 0;
	  		margin-top: 25px;
	  		display:inline-block;
	  		letter-spacing: 1px;
	  		@include transition(all ease-in-out 0.5s);
				
			&:hover{
	  			text-decoration: none;
	  			color: $primary-color;
	  			letter-spacing: 2px;
	  			@include transition(all ease-in-out 0.5s);

	  			&:after{
	  				width: 90px;
	  			}//&:after
	  		}//&:hover

	  		 /*:::::::::::MEDIA::::::::::::::*/
	  		@include media(xs){
				margin-top: 20px;
			}//media xs

	  		&:after{
	  			content: '';
	  			border-bottom: 1px solid #171717;
	  			position:absolute;
	  			bottom: 2px;
	  			width: 54px;
	  			left: 0;
	  			right:20px;
	  			margin: 0 auto;
	  			@include transition(all ease-in-out 0.5s);
	  		}//&:after
	  	}//.get-btn
  	}
  	.slider-btn{
		position: absolute;
		top: 35%;
		@include transition(all ease-in-out 0.5s);

		 /*:::::::::::MEDIA::::::::::::::*/
		@include media(sm){
			border: 1px solid #cccccc;
			display: inline-block;
			margin: 35px 15px 0;
			padding-top: 5px;
			position: inherit;
		}

		svg{
			line{
				fill:none;
				stroke:#181818;
				stroke-width:0.5;
				stroke-miterlimit:10;
				@include transition(all ease-in-out 0.3s);
			}//line
		}//svg
	}//.slider-btn

	.previous.slider-btn{
		left: 15px;
		padding-right:4px;

		&:hover{
			@include transform(translateX(-5px)); 
		}//&:hover
	}//.previous.slider-btn

	.next.slider-btn{
		right: 15px;
		padding-right:5px;

		&:hover{
			@include transform(translateX(5px)); 
		}//&:hover
	}//next.slider-btn
	
}//.roselundsakeri-slider