
.description-wrap{
    .two-column{
        padding:85px 0 150px 0;
        position:relative;
        
        //media query
        @include media(xs){
            padding:30px 0 100px 0;
        }
        .line{
            @extend %line;
            background-color:$primary-color;
            top: -20%;
            height: 90%;  
            @include media(xs){
                display: none;
            }    
        }
    }//.two-column
}//.description-wrap