.site-content { padding-top: 73.59px; }
@media (max-width: 479px) { .site-content { padding-top: 109px; } }

body { color: #505050; font-family: "futura-pt", sans-serif; font-size: 18px; line-height: 28px; }

input.btn-submit[type="submit"] { background: #0a3e7c; border: 1px #0a3e7c solid; color: #fff; font-style: normal; font-weight: 400; line-height: 22px; width: 30%; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -webkit-text-shadow: none; -moz-text-shadow: none; -ms-text-shadow: none; text-shadow: none; }
input.btn-submit[type="submit"]:hover { background: #06264d; }

.rl-btn-blue { background-color: #0a3e7c; color: #fff; font-family: "Proxima Nova", sans-serif; padding: 13px 30px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.rl-btn-blue:hover { background-color: #000; color: #fff; }
.rl-btn-blue:active, .rl-btn-blue:visited, .rl-btn-blue:focus { color: inherit; }

.pagination { margin-top: 60px !important; float: none; width: 100%; text-align: center; }

.page-numbers { -webkit-transition: all 0.35s ease-in-out; -moz-transition: all 0.35s ease-in-out; -o-transition: all 0.35s ease-in-out; transition: all 0.35s ease-in-out; padding: 5px 10px; font-weight: 700; color: #0a3e7c; border: 1px solid #ccc; text-decoration: none; }
.page-numbers.current, .page-numbers:hover { color: #fff; background: #0a3e7c; border-color: #0a3e7c; }

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 14px; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; text-decoration: none; }

a:active, a:hover, a:focus { outline: 0 !important; text-decoration: none !important; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: calc(2.5rem + 1.5vw); line-height: 3.5rem; font-family: 'futura-pt', sans-serif; font-weight: 600; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

select:focus { outline: 0; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body, button, input, select, textarea { color: #404040; font-size: 16px; font-size: 1rem; line-height: 1.5; }

h1, h2, h3, h4, h5, h6 { clear: both; }

p { margin-bottom: 1.5em; }

dfn, cite, em, i { font-style: italic; }

blockquote { margin: 0 1.5em; }

address { margin: 0 0 1.5em; }

pre { background: #eee; font-family: "Courier 10 Pitch", Courier, monospace; font-size: 15px; font-size: 0.9375rem; line-height: 1.6; margin-bottom: 1.6em; max-width: 100%; overflow: auto; padding: 1.6em; }

code, kbd, tt, var { font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; font-size: 15px; font-size: 0.9375rem; }

abbr, acronym { border-bottom: 1px dotted #666; cursor: help; }

mark, ins { background: #fff9c0; text-decoration: none; }

big { font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html { box-sizing: border-box; font-size: 100% !important; }

*, *:before, *:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */ box-sizing: inherit; }

body { background: #fff; /* Fallback for when there is no custom background color defined. */ }

blockquote:before, blockquote:after, q:before, q:after { content: ""; }

blockquote, q { quotes: "" ""; }

hr { background-color: #ccc; border: 0; height: 1px; margin-bottom: 1.5em; }

ul, ol { margin: 0 0 1.5em 0; padding-left: 0; }

ul { list-style: disc; }

ol { list-style: decimal; }

li > ul, li > ol { margin-bottom: 0; margin-left: 1.5em; }

dt { font-weight: bold; }

dd { margin: 0 1.5em 1.5em; }

img { height: auto; /* Make sure images are scaled correctly. */ max-width: 100%; /* Adhere to container width. */ }

table { margin: 0 0 1.5em; width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] { border: 1px solid; border-color: #ccc #ccc #bbb; border-radius: 3px; background: #e6e6e6; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05); color: rgba(0, 0, 0, 0.8); font-size: 12px; font-size: 0.75rem; line-height: 1; padding: .6em 1em .4em; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover { border-color: #ccc #bbb #aaa; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active { border-color: #aaa #bbb #bbb; box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea { color: #666; border: 1px solid #ccc; border-radius: 3px; padding: 3px; }

select { border: 1px solid #ccc; }

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus { color: #111; }

textarea { width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a { color: royalblue; text-decoration: none; }

a:visited { color: purple; }

a:hover, a:focus, a:active { color: midnightblue; text-decoration: none; }

a:focus { outline: 0; }

a:hover, a:active { outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation ul { display: none; list-style: none; margin: 0; padding-left: 0; }

.main-navigation li { float: left; position: relative; }

.main-navigation a { display: block; text-decoration: none; }

.main-navigation ul ul { box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); float: left; position: absolute; top: 1.5em; left: -999em; z-index: 99999; }

.main-navigation ul ul ul { left: -999em; top: 0; }

.main-navigation ul ul a { width: 200px; }

.main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul { left: auto; }

.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul { left: 100%; }

/* Small menu. */
.menu-toggle, .main-navigation.toggled ul { display: block; }

@media screen and (min-width: 37.5em) { .menu-toggle { display: none; }
  .main-navigation ul { display: block; } }
.site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation { margin: 0 0 1.5em; overflow: hidden; }

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous { float: left; width: 50%; }

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next { float: right; text-align: right; width: 50%; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }

.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus { outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft { display: inline; float: left; margin-right: 1.5em; }

.alignright { display: inline; float: right; margin-left: 1.5em; }

.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after { content: ""; display: table; table-layout: fixed; }

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after { clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget { margin: 0 0 1.5em; }

/* Make sure select elements fit in widgets. */
.widget select { max-width: 100%; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky { display: block; }

.hentry { margin: 0 0 1.5em; }

.byline, .updated:not(.published) { display: none; }

.single .byline, .group-blog .byline { display: inline; }

.page-content, .entry-content, .entry-summary { margin: 0 0 0; }

.page-links { clear: both; margin: 0 0 1.5em; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a { word-wrap: break-word; }

.bypostauthor { display: block; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, .infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */ display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer { display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley { border: none; margin-bottom: 0; margin-top: 0; padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object { max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption { margin-bottom: 1.5em; max-width: 100%; }

.wp-caption img[class*="wp-image-"] { display: block; margin-left: auto; margin-right: auto; }

.wp-caption .wp-caption-text { margin: 0.8075em 0; }

.wp-caption-text { text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery { margin-bottom: 1.5em; }

.gallery-item { display: inline-block; text-align: center; vertical-align: top; width: 100%; }

.gallery-columns-2 .gallery-item { max-width: 50%; }

.gallery-columns-3 .gallery-item { max-width: 33.33%; }

.gallery-columns-4 .gallery-item { max-width: 25%; }

.gallery-columns-5 .gallery-item { max-width: 20%; }

.gallery-columns-6 .gallery-item { max-width: 16.66%; }

.gallery-columns-7 .gallery-item { max-width: 14.28%; }

.gallery-columns-8 .gallery-item { max-width: 12.5%; }

.gallery-columns-9 .gallery-item { max-width: 11.11%; }

.gallery-caption { display: block; }

.navigation { float: right; }

.site-header { background-color: #fff; margin-bottom: 75px; position: fixed; top: 0; width: 100%; z-index: 99; padding: 0 15px; }
.site-header .site-branding { float: left; }
@media (max-width: 1199px) { .site-header .site-branding { width: 20%; } }
@media (max-width: 991px) { .site-header .site-branding { width: auto; } }
@media (max-width: 767px) { .site-header .site-branding { width: 50%; } }
@media (max-width: 500px) { .site-header .site-branding { float: none; text-align: center; width: 100%; } }
.site-header .site-branding h1 { margin: 17px 0 0; }
@media (max-width: 991px) { .site-header .site-branding h1 { margin: 18px 0; } }
@media (max-width: 479px) { .site-header .site-branding h1 { margin: 12px 0; } }
.site-header .site-branding h1 img { vertical-align: inherit; }
.site-header .nav-wrap { float: right; padding: 10px 0; }
.site-header .nav-wrap:before, .site-header .nav-wrap:after { content: " "; display: table; }
.site-header .nav-wrap:after { clear: both; }
@media (max-width: 991px) { .site-header .nav-wrap { padding: 11px 0; } }
@media (max-width: 500px) { .site-header .nav-wrap { float: none; padding: 8px 0; } }
.site-header .nav-wrap .main-navigation { float: left; width: auto; }
@media (max-width: 991px) { .site-header .nav-wrap .main-navigation { display: none; } }
.site-header .nav-wrap .main-navigation .nav-menu > li:hover > a:after { -moz-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); -webkit-transform: scale(1, 1); transform: scale(1, 1); }
.site-header .nav-wrap .main-navigation .nav-menu > li > a { padding: 0.8em 0; }
.site-header .nav-wrap .main-navigation .nav-menu > li > a:after { content: ''; background: #222; position: absolute; bottom: 0; height: 1px; left: 0; width: 100%; -webkit-transition: transform 0.3s ease-in-out; -moz-transition: transform 0.3s ease-in-out; -o-transition: transform 0.3s ease-in-out; transition: transform 0.3s ease-in-out; -moz-transform: scale(0, 1); -o-transform: scale(0, 1); -ms-transform: scale(0, 1); -webkit-transform: scale(0, 1); transform: scale(0, 1); }
.site-header .nav-wrap .main-navigation .nav-menu > li > ul { top: 100%; }
.site-header .nav-wrap .main-navigation .nav-menu li { padding: 0 0.75em; }
.site-header .nav-wrap .main-navigation .nav-menu li a { color: #000; position: relative; }
.site-header .nav-wrap .main-navigation .nav-menu li ul { background-color: #0a3e7c; }
.site-header .nav-wrap .main-navigation .nav-menu li ul li { padding: 0; }
.site-header .nav-wrap .main-navigation .nav-menu li ul li a { color: #fff; padding: 8px 15px; line-height: 20px; font-size: 15px; }
.site-header .nav-wrap .main-navigation .nav-menu li ul li a:hover { background-color: #0e56ab; }
.site-header .nav-wrap .nav-info { float: right; margin-left: 10px; padding: 11px 0; }
.site-header .nav-wrap .nav-info:before, .site-header .nav-wrap .nav-info:after { content: " "; display: table; }
.site-header .nav-wrap .nav-info:after { clear: both; }
@media (max-width: 991px) { .site-header .nav-wrap .nav-info { margin-top: 5px; } }
@media (max-width: 500px) { .site-header .nav-wrap .nav-info { float: none; padding: 0; } }
.site-header .nav-wrap .nav-info .info-list { float: left; padding-top: 7px; }
@media (max-width: 991px) { .site-header .nav-wrap .nav-info .info-list { padding-top: 3px; } }
.site-header .nav-wrap .nav-info .info-list a { color: #000; float: left; padding: 0 0.75em; text-decoration: none; line-height: 20px; }
.site-header .nav-wrap .nav-info .info-list a.login-form { border-left: 1px #000 solid; padding-right: 0; }
.site-header .nav-wrap .nav-info .info-list a:hover { color: #0a3e7c; }
.site-header .nav-wrap .nav-info .icon-search { margin-top: 2px; }
@media (max-width: 400px) { .site-header .nav-wrap .nav-info .icon-search { margin-top: 4px; } }
.site-header .nav-wrap .nav-info .icon-search .icon { display: inline-block; width: 22px; height: 16px; stroke-width: 0; stroke: #000; fill: #000; }
.site-header .nav-wrap .nav-info .mobile-menu { display: none; float: right; height: 30px; position: relative; padding: 5px 7px; width: 40px; }
@media (max-width: 991px) { .site-header .nav-wrap .nav-info .mobile-menu { display: inline-block; margin-left: 10px; } }
.site-header .nav-wrap .nav-info .mobile-menu span.bar { top: 8px; }
.site-header .nav-wrap .nav-info .mobile-menu span.bar, .site-header .nav-wrap .nav-info .mobile-menu span.bar:after, .site-header .nav-wrap .nav-info .mobile-menu span.bar:before { background: #0a3e7c; content: ''; display: inline-block; position: absolute; height: 2px; transition: all 0.3s ease; width: 25px; }
.site-header .nav-wrap .nav-info .mobile-menu span.bar:before { top: 6px; }
.site-header .nav-wrap .nav-info .mobile-menu span.bar:after { top: 12px; }
.site-header .nav-wrap .nav-info .search-box { background: #f7f7f7; display: none; right: 0; padding: 10px 20px; top: 100%; position: absolute; width: 100%; z-index: 9; }
@media (max-width: 991px) { .site-header .nav-wrap .nav-info .search-box { top: 75px; } }
@media (max-width: 479px) { .site-header .nav-wrap .nav-info .search-box { top: 109px; } }
.site-header .nav-wrap .nav-info .search-box .search-form:before, .site-header .nav-wrap .nav-info .search-box .search-form:after { content: " "; display: table; }
.site-header .nav-wrap .nav-info .search-box .search-form:after { clear: both; }
.site-header .nav-wrap .nav-info .search-box .search-form button, .site-header .nav-wrap .nav-info .search-box .search-form input { background: transparent; border-color: transparent; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; box-shadow: none; color: #999; height: 45px; }
.site-header .nav-wrap .nav-info .search-box .search-form button:focus, .site-header .nav-wrap .nav-info .search-box .search-form input:focus { -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; box-shadow: none; outline: none; }
.site-header .nav-wrap .nav-info .search-box .search-form input { float: left; width: calc(100% - 50px); }
.site-header .nav-wrap .nav-info .search-box .search-form button { float: right; width: 50px; }

.mm-menu { background: #0a3e7c !important; color: #fff !important; }
.mm-menu .mm-listview > li > a, .mm-menu a.mm-title { color: #fff !important; font-size: 16px !important; }
.mm-menu .mm-menu .mm-listview > li .mm-next:after, .mm-menu .mm-next:after, .mm-menu .mm-prev:before { border-color: #fff !important; }
.mm-menu .mm-menu .mm-listview > li.mm-selected { bavkground: rgba(31, 24, 84, 0.5); }

.about-banner { background-image: url("http://202.166.198.46/rosenlundsakeri/wp-content/uploads/2016/11/about-banner.jpg"); background-repeat: no-repeat; background-size: cover; min-height: 470px; display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-align: center; -webkit-align-items: center; -webkit-box-align: center; align-items: center; -webkit-justify-content: center; justify-content: center; position: relative; /*:::::::::::MEDIA::::::::::::::*/ }
@media (max-width: 767px) { .about-banner { min-height: inherit; padding: 50px 0; } }
.about-banner .about-banner-content { text-align: center; position: relative; z-index: 1; }
.about-banner .about-banner-content .about-center-text { margin: 0 auto; width: 55%; color: #fff; font-family: "futura-pt", sans-serif; /*:::::::::::MEDIA::::::::::::::*/ }
@media (max-width: 1199px) { .about-banner .about-banner-content .about-center-text { width: 82%; } }
@media (max-width: 767px) { .about-banner .about-banner-content .about-center-text { width: 100%; } }
.about-banner .about-banner-content .about-center-text h1 { font-size: 60px; line-height: 60px; margin: 0; font-weight: 600; }
@media (max-width: 991px) { .about-banner .about-banner-content .about-center-text h1 { font-size: 25pt; line-height: 30pt; } }
@media (max-width: 400px) { .about-banner .about-banner-content .about-center-text h1 { font-size: 21pt; line-height: 30pt; } }
.about-banner .about-banner-content .about-center-text h2 { font-size: 24px; font-weight: 600; margin: 20px 0 40px; }

.above-container { margin: 0 auto; padding-right: 15px; padding-left: 15px; }
.above-container:before, .above-container:after { content: " "; display: table; }
.above-container:after { clear: both; }
@media (min-width: 1200px) { .above-container { width: 1170px; } }
@media (max-width: 1199px) { .above-container { width: 970px; } }
@media (max-width: 991px) { .above-container { width: 750px; } }
@media (max-width: 767px) { .above-container { width: 100%; } }

.loader-overlay { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: #0a3e7c; z-index: 99; }
.loader-overlay .loader-wrapper { position: absolute; top: 50%; left: 0; width: 100%; text-align: center; z-index: 23; }
.loader-overlay .loader-wrapper .loader { display: inline-block; }
.loader-overlay .loader-wrapper .loader svg { float: left; }
@media (max-width: 400px) { .loader-overlay .loader-wrapper .loader svg.loader-text { width: 220px; } }

/*# sourceMappingURL=inner-above-fold.css.map */
