.page-not-found {
    background-color: #fbfbfb;
    padding: 20px 30px 60px;
    @include clearfix();
    @include media(xs) {
        padding: 20px 30px 200px;
    }

    svg {
        @at-root {
             @include keyframes(spin){
                0% {
                    transform: rotate(0);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
            //keyfram
        }

        .wheel {
            @include animation(spin 5s infinite linear);
            position: absolute;
            left: 7.5%;
            content: '';
            width: 100px;
            height: 100px;
            transform-origin: center;
            -webkit-transform-origin: center;
            -moz-transform-origin: 7.999% 101%;
        }
        //.wheel

        .wheel.front {
            transform-origin: center;
            -webkit-transform-origin: center;
            -moz-transform-origin: 71.0099% 100.6%;
        }
        //.wheel.front
    }
    /* LOGO WITH MESSAGE */
    .logo-with-message {
        padding: 30px;
        margin-top: 70px;

        h1 {
            font-size: 140px;
            color: lighten($black, 50%);
            /*color:$primary;*/
        }
        //h1

        h2 {
            font-size: 40px;
            color: lighten($black, 50%);
        }
        //h2

        h3 {
            font-size: 22px;
            color: lighten($black, 60%);
        }
        //h3
    }
    //.logo-with-message
    /* BUTTON */
    .btn-dashboard {
        background: $primary-color;
        padding: 15px 20px;
        display: inline-block;
        color: #fff;
        margin-top: 25px;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        @include box-shadow(5px 5px 0 0 #ddd);
        @include transition(all 0.5s);

        &:hover {
            background-color: darken($primary-color, 10%);
        }
        //&:hover
    }
    //.btn-dashboard
    /* ANIMATED IMAGE */
    .animated-image {
        text-align: left;
        @include media(xs) {
            display: none;
        }

        svg {
            width: 85%;
            margin-top: 20px;
            display: inline-block;
        }
        //svg

        img {
            display: inline-block;
        }
        //img

        .shadow {
            width: 50%;
            height: 25px;
            display: inline-block;
            background: #ddd;
            border-radius: 50%;
        }
        //shadow
    }
    //.animated-image
}
//.page-not-found
/* ===========================
 * SM
 * =========================== */
@include media(sm) {
    .page-not-found {
        .logo-with-message {
            padding: 20px;

            h1 {
                font-size: 80px;
            }
            //h1

            h2 {
                font-size: 30px;
            }
            //h2

            h3 {
                font-size: 18px;
            }
            //h3
        }
        //logo-with-message

        .btn-dashboard {
            padding: 12px 15px;
            font-size: 14px;
        }
        //btn-dashboard

        .animated-image {
            margin-top: 80px;
            text-align: center;

            svg {
                width: 100%;
            }
            //svg
        }
        //animated-image
    }
    //page-not-found
}
//sm media
