.search-result{
	font-family:$body-font;

	.page-header{
		text-align: center;
		margin: 0px 0 10px;
		padding-bottom:30px;

		h1.page-title{
			color: $primary-color;
			display: inline-block;
			font-size: 35px;
			letter-spacing: 2.5px;
			line-height: 39px;
			margin: 0 auto;
			padding: 0 30px;
			text-transform: uppercase;

			@include media(xs){
				font-size: 25px;
			}

			@include media(mb){
				font-size: 22px;
			}//media

		}//.page-title
	}//.page-header

	article{
		padding:20px 0;
		border-bottom: 1px solid #ccc;
		margin: 0 !important;

		// :::::::::::::::::::::MEDIA:::::::::::::::::::::::
		@include media(ls){
			border-bottom:none;
		}//media

		&:before,
		&:after{
			content: '';
			clear: both;
			display: block;
		}//&:before &:after

		.search-image{
			float: left;
			width: 30%;

			// :::::::::::::::::::::MEDIA:::::::::::::::::::::::
			@include media(mb){
				float: none;
				width: 100%;
				margin-bottom: 35px;
			}//media
		}//search-image
		.search-content{
			float: right;
			width: 68%;

			//:::::::::::::::::::::MEDIA:::::::::::::::::::::::
			@include media(mb){
				float: none;
				width: 100%;
			}//media

			.entry-header{
				display: inline-block;
				h2.entry-title{
					color: $primary-color;
					font-size: 24px;
					letter-spacing: 2px;
					position: relative;
					margin-bottom: 4px;
					font-weight: bold;
					margin-top: 0;
					letter-spacing: 1px;
				    @include transition(all ease-in-out 0.5s);
					position: relative;

					a{
						color: inherit;

						&:visited, &:focus{
						color: inherit;
						}
					}

					&:hover{
			            color: $primary-color;
			            letter-spacing: 2px;
			             @include transition(all ease-in-out 0.5s);

			        }//&:hover

				}//h2.entry-title

				.entry-meta{
				    font-weight: bold;
					font-size: 16px;
				}
				.entry-summary{
					margin-top: 30px;
				}
			}//entry-header
		}//	search-content
	}//article
}//search-result


.not-found{
	text-align: center;

	.search-form{
		margin-top: 30px;
		width: 400px;
		display: inline-block;
		max-width: 100%;

		@include media(xs){
	    margin-bottom: 50px;
		}

		label {
			width: calc( 100% - 85px );
			float: left;
		}

		input{
			border-radius: 0;
			border-color: #ddd;
			font-size: 16px;
			padding: 5px 10px;
			height: 40px;
			width: 100%;
		}
		input[ type="submit" ]{
			background-color: $primary-color;
			border: 1px $primary-color solid;
			color: $white;
			width: 85px;
			padding: 0 20px;
			font-style: normal;
			font-weight: 400;
	    float: right;
			line-height: 22px;
			@include box-shadow( none );
			@include transition( background-color 0.3s );

			&:hover{
				background-color: darken( $primary-color, 5% );
			}
		}
	}

}
