.footer{
    height:15vh;
    overflow: hidden;
    color: #2F3982;
    background-color:$primary-color;  
    padding:0 1.5vw ;

    .logo{
        width: 25%;
        float:left;
        margin-top: 1.8vw;


        svg{
            width: 100%;
        }
    }

    .wrapper{
        float:right;
        margin-right: 7vw;
        

        .unknown,
        .weather{
            float:left;
        }
        .weather{
            height:100%;
            position:relative;
            height:15vh;
            width: 10vw;
            float:right;
            .info{
                @extend %top-bottom-center;

                .normal{
                    border: none !important;
                }
            }

        }//weather
        .message{
            font-size: 1.6vw;
            font-weight: 600;
            float: left;
            width:50vw;
            position: relative;
            text-align: right;
            margin-right: 4vw;
            height: 10vh;
            margin-top: 2.5vh;

            .item{
                @extend %top-bottom-center;
                @include translate(0,0);
                opacity:0;
                @include transition(all 0.05s linear);

                &.active{
                    opacity:1;
                    @include translate(0, -50%);
                     @include transition(all 0.3s linear);
                    p{
                        @include translate(0, 0);
                        opacity:1;
                    }
                }
            }
        }//message

    }//wrapper
}//footer