.above-container{
    margin:0 auto;
    padding-right: 15px;
    padding-left: 15px;
    @include clearfix();

  
    @include media ( lg ){
        width:$container-lg;
    }

    @include media ( md ){
        width:$container-md;
    }
    
    @include media ( sm ){
        width:$container-sm;
    }

    @include media ( xs )
    {
    	width:100%;
    }
}