@mixin transform($num2, $num...) {
 -webkit-transform:$num2 +'('+ $num +')';
 -o-transform:$num2 +'('+ $num +')';
 -moz-transform:$num2 +'('+ $num +')';
 transform:$num2 +'('+ $num +')';
}

@mixin transform($num2, $num) {
 -webkit-#{$num2}:$num;
 -o-#{$num2}:$num;
 -moz-#{$num2}:$num;
 #{$num2}:$num;
}