$black:#000 !default;
$primary-color:#0a3e7c;
$light:#fff;
$secondary-color:#404040;
$body-color:#6a6a6a;
$body-bg:#fafafa;
$ternary-color:#f4f5f5;


//FONTS
$title-font: 'Proxima Nova', sans-serif;
$primary-font:'futura-pt', sans-serif;


// container

$container-lg:1170px !default;
$container-md:970px !default;
$container-sm:750px !default;


